.to-right-underline {
  position: relative;
}
.to-right-underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0px;
  height: 2px;
  /* margin: 5px 0 0; */
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #000000;
}
.to-right-underline:hover:after {
  width: 100%;
  opacity: 1;
}
